/.idea/
/vendor/
/bin/
/db/mysql/
/httpd/config/

*.iml
/paths.json
/private.properties
/docker-compose.yml
/composer.lock

/server/jenkins-slave/environments/
/server/jenkins-slave/httpd/packages/
/server/jenkins-slave/transfer/
